.logohead{
    height: 80px;
}
.xb-header{
    padding: 8px 0;
}
.home-box .xb-feature_wrap{
    height: 100%;
}
.logoheadbig{
    width: 150px;
    height: auto;
    max-height: 148px;
    background: #9f0880;
    padding: 5px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}
.hero-btns .thm-btn--stroke-white{
    background: var(--color-secondary);
    color: var(--color-white);
    border: 2px solid var(--color-primary);
}
.hero-btns .thm-btn--stroke-white:hover {
    background: var(--color-primary);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--color-heading);
    border: 2px solid var(--color-secondary);
}
.hero-btns .thm-btn--stroke-white svg path{
    fill: var(--color-white);
}
.branches-div h4{
    color: var(--color-white);
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 25px;
}
.sh-featuree_wrap.ul_li{
    
    display: inherit;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.teacher-area .sh-featuree_wrap .xb-item--holder {
    width: 100%;
}
.team-member .team-item .xb-item--info {
    border-bottom: 0px dashed #D9D9D9;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.team-member .team-item {
    box-shadow: 0 22px 33px 0 rgb(63 104 94 / 9%);
}
.team-member .team-item:hover {
    box-shadow: 0 22px 33px 0 rgba(63, 104, 94, 0.24);
}
